body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto auto;
  background-color: hsla(48, 57%, 80%, 1);
}

header {
  background-color: #d07e0e;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
}

main {
  min-height: 70vh;
  margin: 0 auto;
  display: flex;
  max-width: 1024px;
  justify-content: center;
  align-items: center;
}

.person {
  margin: 12px;
  border: black solid 1px;
  padding-left: 12px;
  padding-right: 12px;
}

.info {
  text-align: left;
}

.info p {
  font-size: 20px;
}

.contact {
  padding: 16px;
}

.contact span {
  text-decoration: underline;
}

.contact ul {
  margin: 0;
  margin-top: 8px;
  padding: 0;
  list-style: none;
}

.contact li {
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
}

.contact figure {
  margin: 0;
  width: 30px;
}

.contact span {
  align-self: center;
}

footer {
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  padding-right: 32px;
  padding-left: 32px;
}

@media screen and (max-width: 1024px) {
  main {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    align-self: center;
  }

  .person {
    max-width: 340px;
  }

  .info {
    text-align: center;
    align-self: start;
  }

  .info p {
    padding: 24px;
  }
}

@media screen and (max-width: 745px) {
  header {
    font-size: 12px;
  }

  .info p {
    font-size: initial;
    margin: 0;
  }

  footer {
    font-size: 10px;
  }
}
